.container {
  background: lightgray;
  .vending-title {
    text-align: center;
    margin-bottom: 20px;
  }
  .vending-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    .vending-item {
      background-color: #fff;
      border: 2px solid green;
      display: flex;
      justify-content: space-between;
      margin-bottom: 25px;
      padding: 10px 0;
      img {
        width: 100px;
        height: 100px;
      }
      .content {
        background-color: #fff;
        width: 130px;
        padding-left: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        &__code {
          font-weight: 800;
          span {
            color: red;
          }
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .container {
    background: lightgray;
    width: 74%;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    .vending-title {
      margin-bottom: 50px;
    }

    .vending-content {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 50px;
      justify-items: center;
      text-align: left;
      .vending-item {
        padding: 10px;
        width: 290px;
        height: 190px;
        position: relative;
        display: flex;
        align-items: center;
        position: relative;
        margin-bottom: 0;

        img {
          position: relative;
          width: 160px;
          height: 160px;
          z-index: 2;
        }
        .content {
            padding-left: 0;
        }
      }
    }
  }
}
